/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Custom page header */
.header {
    padding-bottom: 20px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}