<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marvel.dingdangcat.mapper.ding.DingTaskApplyStaffMapper">
    <resultMap id="BaseResultMap" type="com.marvel.dingdangcat.domain.ding.DingTaskApplyStaff">
    </resultMap>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        insert into ding_task_apply_staff set
        `ding_task_apply_id` = #{dingTaskApplyId},
        `staff_id` = #{staffId},
        `remark` = #{remark},
        `cancelled` = #{cancelled}
    </insert>

    <update id="update">
        update ding_task_apply_staff set
        `ding_task_apply_id` = #{dingTaskApplyId},
        `staff_id` = #{staffId},
        `remark` = #{remark},
        `cancelled` = #{cancelled}
        where id = #{id}
    </update>

    <update id="cancel">
        update ding_task_apply_staff set
        `cancelled` = 1
        where id = #{id}
    </update>

    <update id="uncancel">
        update ding_task_apply_staff set
        `cancelled` = 0
        where id = #{id}
    </update>

    <select id="findById" resultMap="BaseResultMap">
        select * from ding_task_apply_staff where id = #{id}
    </select>

    <select id="findByDingTaskApplyId" resultMap="BaseResultMap">
        select * from ding_task_apply_staff where `cancelled` = 0 AND `ding_task_apply_id` = #{dingTaskApplyId}
    </select>

    <select id="findByDingTaskApplyIdAndStaffId" resultMap="BaseResultMap">
        select * from ding_task_apply_staff where `ding_task_apply_id` = #{dingTaskApplyId} AND `staff_id` = #{staffId}
    </select>
</mapper>