<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marvel.dingdangcat.mapper.ding.DingTaskMapper">
    <resultMap id="BaseResultMap" type="com.marvel.dingdangcat.domain.ding.DingTask">
    </resultMap>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        insert into ding_task set
        `name` = #{name},
        `start_at` = #{startAt},
        `end_at` = #{endAt},
        `max_count` = #{maxCount},
        `repeat_type` = #{repeatType},
        `enabled` = #{enabled},
        `apply_status` = #{applyStatus},
        `manager_id` = #{managerId},
        `description` = #{description},
        `ding_webhook` = #{dingWebhook}
    </insert>

    <update id="update">
        update ding_task set
        `name` = #{name},
        `start_at` = #{startAt},
        `end_at` = #{endAt},
        `max_count` = #{maxCount},
        `repeat_type` = #{repeatType},
        `enabled` = #{enabled},
        `apply_status` = #{applyStatus},
        `manager_id` = #{managerId},
        `description` = #{description},
        `ding_webhook` = #{dingWebhook}
        where id = #{id}
    </update>

    <update id="delete">
        update ding_task set
        `deleted` = 1
        where id = #{id}
    </update>

    <select id="findById" resultMap="BaseResultMap">
        select * from ding_task where id = #{id}
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        select * from ding_task where `deleted` = 0
    </select>

    <select id="findEnabled" resultMap="BaseResultMap">
        select * from ding_task where `deleted` = 0 AND `enabled` = 1
    </select>

    <update id="updateApplyStatusByIds">
        update ding_task set
        `apply_status` = #{applyStatus}
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator="," index="i">#{id}</foreach>
    </update>

    <update id="updateEnabledByIds">
        update ding_task set
        `enabled` = #{enabled}
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator="," index="i">#{id}</foreach>
    </update>
</mapper>